.text-message {
  border-radius: 20px;
  position: relative;
  padding: 8px 16px 8px 16px;
  word-wrap: break-word;
}

.message {
  display: flex;
  flex-direction: column;
  font-family: "Lato", Helvetica, Arial, sans-serif;
}

.msg-sent {
  background-color: #3498db;
  color: #fff;
  align-self: flex-end;
}

.msg-receive {
  background-color: #f39c12;
  color: #fff;
  align-self: flex-start;
}

.msg-error {
  background-color: #EC644B;
}

.base-sent {
  display: flex;
  justify-content: flex-end;
  text-align: right;
}

.base-receive {
  display: flex;
  justify-content: flex-start;
  text-align: left;
}

.msg-container {
  margin: 2%;
  display: flex;
  flex-direction: column;
  will-change: translate;
}

.author {
  padding-bottom: 1%;
  font-size: 100%;
  color: #95a5a6;
  font-style: italic;
  font-family: "Lato", Helvetica, Arial, sans-serif;
}

.time {
  padding-top: 1%;
  font-size: 100%;
  color: #95a5a6;
  font-style: italic;
  font-family: "Lato", Helvetica, Arial, sans-serif;
}
