<div class="chat-window-container">

  <div *ngIf="opened" [@windowState]="opened" class="chat-window">
    <div class="panel-container">
      <div class="panel panel-default">

        <div class="panel-heading top-bar">
          <div class="panel-title-container">
            <h3 class="panel-title">
              <span class="glyphicon glyphicon-comment"></span>
              Chat - HajimeBot
            </h3>
          </div>
          <div class="panel-buttons-container">
            <!-- you could put minimize or close buttons here -->
          </div>
        </div>

        <div class="panel-body msg-container-base">

          <div class="window-info">
            <div class="window-info-img">
              <img src="../../../assets/images/logos/hajimelogo.png"/>
            </div>
            <div class="window-info-text">Bienvenue ! Discute avec Hajime grâce à cette fenêtre !</div>
          </div>

          <chat-message
            *ngFor="let message of messages | async"
            [message]="message">
          </chat-message>
          <div *ngIf="waitingGif" [@gifState]="waitingGif" class="typing-indicator">
            <span></span>
            <span></span>
            <span></span>
          </div>
        </div>

        <div class="panel-footer">
          <div class="chat-input-group">
            <input type="text"
                   class="chat-input"
                   placeholder="Write your message here..."
                   (keydown.enter)="onEnter($event)"
                   [(ngModel)]="draftMessage.text"/>
            <button class="chat-btn"
                    (click)="onEnter($event)"
            >Send
            </button>
          </div>
        </div>

      </div>
    </div>
  </div>

  <button mat-fab class="chat-button-opener" (click)="openWindow()">
    <span class="glyphicon glyphicon-comment"></span>
  </button>

</div>
