.chat-button-opener {
  bottom: 4%;
  right: 4%;
  position: fixed;
  float: right;
  margin-left: 10px;
  background-color: #e67e22;
}

.chat-window {
  bottom: 16%;
  right: 2%;
  position: fixed;
  float: right;
  margin-left: 10px;
  max-width: 75%;
  width: 512px;
  will-change: transform;
}



.chat-window, .chat-window .top-bar .panel-buttons-container, .chat-window .top-bar .panel-title-container, .chat-window .messages {
  padding: 0;
}

.panel-container {
  border: solid 2px #666666;
  border-radius: 15px 15px 10px 10px;
}

.chat-window .panel {
  margin-bottom: 0px;
}

.chat-window .icon_minim {
  padding: 2px 10px;
}

.chat-window .msg-container-base {
  background: #e5e5e5;
  margin: 0;
  padding: 0 10px 10px;
  max-height: 300px;
  overflow-x: hidden;
}

.chat-window .top-bar {
  background: #666;
  color: white;
  padding: 10px;
  position: relative;
  overflow: hidden;
  font-family: "Lato", Helvetica, Arial, sans-serif;
  border-radius: 10px 10px 0px 0px;
}

.chat-window .btn-group.dropup {
  position: fixed;
  left: 0px;
  bottom: 0;
}

.chat-input-group {
  display: flex;
}

.chat-input {
  height: 32px;
  align-self: flex-start;
  border-bottom: 4px solid #e5e5e5;
  border-left: 4px solid #e5e5e5;
  border-top: 4px solid #e5e5e5;
  border-right: 0;
  color: #34495e;
  font-family: "Lato", Helvetica, Arial, sans-serif;
  font-size: 14px;
  line-height: 1.467;
  border-radius: 0 0 0 10px;
  box-shadow: none;
  width: 75%;
  outline: none;
}

.btn-chat {
  height: 42px;
  align-self: flex-end;
  font-size: 14px;
  font-family: "Lato", Helvetica, Arial, sans-serif;
  line-height: 1.467;
  border-radius: 0 0 10px 0;
  width: 25%;
  border-bottom: 4px solid #e5e5e5;
  border-right: 4px solid #e5e5e5;
  border-left: 0;
  border-top: 4px solid #e5e5e5;
  color: #ffffff;
  background-color: #EB974E;
  outline: none;
}

.typing-indicator {
  $ti-color-bg: #e67e22;
  background-color: $ti-color-bg;
  will-change: transform;
  width: auto;
  border-radius: 50px;
  padding: 12px;
  display: table;
  margin-left: 10px;
  margin-bottom: 10px;
  position: relative;
  animation: 2s bulge infinite ease-out;
  &::before,
  &::after {
    content: '';
    position: absolute;
    bottom: -2px;
    left: -2px;
    height: 15px;
    width: 15px;
    border-radius: 50%;
    background-color: $ti-color-bg;
  }
  &::after {
    height: 10px;
    width: 10px;
    left: -10px;
    bottom: -6px;
  }
  span {
    height: 10px;
    width: 10px;
    float: left;
    margin: 0 1px;
    background-color: #fcfcff;
    display: block;
    border-radius: 50%;
    opacity: 0.4;
    @for $i from 1 through 3 {
      &:nth-of-type(#{$i}) {
        animation: 1s blink infinite ($i * .3333s);
      }
    }
  }
}

@keyframes blink {
  50% {
    opacity: 1;
  }
}

@keyframes bulge {
  50% {
    transform: scale(1.05);
  }
}

.window-info {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-top: 20px;
  margin-bottom: 20px;
}

.window-info-text {
  background-color: #2980b9;
  color: #e5e5e5;
  border-radius: 5px;
  padding: 8px 4px 8px 4px;
}

.window-info-img {
  background-color: #ffffff;
  border-radius: 50%;
  width: 128px;
  height: 128px;
  display: flex;
  align-items: center;
  flex-direction: column;
  overflow: hidden;
  margin-bottom: 10px;
}

.window-info-img img {
  max-width: 100%;
  max-height: 100%;
}


