.chat-button-opener {
  bottom: 4%;
  right: 4%;
  position: fixed;
  float: right;
  margin-left: 10px;
  background-color: #2ecc71;
}
.chat-window {
  bottom: 16%;
  right: 2%;
  position: fixed;
  float: right;
  margin-left: 10px;
}
.chat-window > div > .panel {
  border-radius: 5px 5px 0 0; }
.chat-window, .chat-window .top-bar .panel-buttons-container, .chat-window .top-bar .panel-title-container, .chat-window .messages {
  padding: 0; }
.chat-window .panel {
  margin-bottom: 0px; }
.chat-window .icon_minim {
  padding: 2px 10px; }
.chat-window .msg-container-base {
  background: #e5e5e5;
  margin: 0;
  padding: 0 10px 10px;
  max-height: 300px;
  overflow-x: hidden; }
.chat-window .top-bar {
  background: #666;
  color: white;
  padding: 10px;
  position: relative;
  overflow: hidden;
  font-family: Roboto;
}
.chat-window .btn-group.dropup {
  position: fixed;
  left: 0px;
  bottom: 0; }




