mat-toolbar {
  background-color: #3498db;
  color: #ecf0f1;
  justify-content: center;
  flex-direction: row;
  align-items: center;
  height: 80%;

}

mat-toolbar button {
  font-weight: bold;
}

.example-spacer {
  flex: 1 1 auto;
}
