
@import "~@angular/material/prebuilt-themes/indigo-pink.css";
@import "~glyphicons-only-bootstrap/css/bootstrap.min.css";

@import "assets/css/reset.css";

@font-face {
  font-family: 'komikax'; /*a name to be used later*/
  src: url('./assets/fonts/KOMIKAX_.ttf'); /*URL to font*/
}

body {
  background-color: #ecf0f1;
}
